body {
    background-image: url("images/bg.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   align-items: center;
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   color: white;
}

h1 {
    color: rgb(255, 218, 8);
    font-size: 60px;
    margin-top: 30px;
}

#message-el{
    font-style: italic;
}

button{
    color: #449700;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: goldenrod;
    font-weight: bolder;
    border:0;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor:pointer;
}



