
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(37, 37, 204, 0.76);
}


#intro {
    padding: 40px 20px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 30px;
}


#input {
    background: rgba(87, 87, 218, 0.76);
    color: white;
    height: 70px;
    width: 120px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}


#convert {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background: white;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

#convert:hover {
    background: rgb(134, 136, 136);
    color: white;
}

#ans {
    background: rgb(197, 192, 192);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px 20px;
}

.conversion {
    background-color: white;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}
