body {
    padding: 0%;
    margin: 0%;
    text-align: center;
    align-items: center;
    background-color: rgba(37, 37, 204, 0.76);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: larger;




}

#intro {
    margin-top: 30%;
    height: 250px;
    margin-top: 0%;



}

#ans {
    background: rgb(197, 192, 192);
    height: 300px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;


}

h1 {
    margin-top: 40px;
    color: white;


}

h3 {
    color: black;
}

footer {
    background: white;
}

.conversion {

    background-color: rgb(250, 253, 253);
    height: 100px;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 10px;



}

#input {
    background: rgba(87, 87, 218, 0.76);
    color: white;
    height: 60px;
    width: 80px;
    border: 1px solid white;
    border-radius: 10%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#convert {
    background: white;
    margin-top: 40px;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#convert:hover {
    background: rgb(134, 136, 136);
    color: white;
    cursor: pointer;
}