body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding :20px;

}

img{
    width: 400px;
    border-radius: 20px;
    display: block;
}

p{
    font-weight: 600;
}

button{
    background: white;
    border: 1px solid black ;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}
 #error{
    color: red;
    font-weight: 300;
 }