.main{
    margin-top: 60px;
    
    

}

.logo-img{
     display:block;
     width: 300px;
    
    margin-left:auto;
    margin-right: auto;
    margin-bottom:20px;

}

.search {
     display:block;
    width:300px;
    margin:auto;

    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    
    border:1px solid rgb(233, 228, 228);
    border-radius: 30px;
    


}       

.btn{
    
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    background: #dfe1e5;
    border-radius: 4px;
    font-size: 14px;

}


.btn-wrapper{
    display:flex;
    justify-self: center;

}
