body{
    background: white;
    margin:0;
    padding: 10px;
   min-width: 400px;
}

#input-el{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid green;
    box-sizing: border-box;
    

}

#save-btn,#save-tab {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    background: rgb(68, 128, 8);
    border: none;
    color:white;
    cursor: pointer;
    min-width: 100px;

}
#deleteall-btn{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(58, 150, 5);
    color:rgb(58, 150, 5);
    cursor: pointer;
    min-width: 100px;

}

#container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:tomato;
}
ul{
    list-style: none;
    color:green;
    padding-left: 0%;
    margin-top:20px;
    
}
li{
    margin-bottom: 5px;
}
a{
    color: green;
    font-size: large;
}