html, body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(silver,rgb(121, 95, 95));
    text-align: center;
    background-repeat: no-repeat;
}

.h1{
    text-align:center;
  

}
#previous{
    padding: 20px;
    font-weight: bold;
}

#increment,#save-btn{
    padding: 10px 20px;
    border:none;
     border-radius: 10px;
     background-color: brown;
     font-weight: bolder;
     color: aliceblue;
     
}

#increment:hover,#save-btn:hover{
    box-shadow: 0px 0px 3px black;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);

}

#increment:active,#save-btn:active{
    transform: scale(0.95);
}