body{
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.myself{
    width:160px;
    
}
.myself:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.card{ 
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    display:flex;
    justify-content: space-between;
    gap: 20px;  
    text-align: center;
    background-color: #ddeff8;
    border-bottom: 10px solid grey;
    color:#2b2839;
}


